<!doctype html>
<html ng-app="cryptoApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="crhistory.js"></script>
</head>
<body>
	<h2>CrHistory </h2>

	<div ng-controller="TransactionListController as transactionsList">
		<span>Total EUR invested {{transactionsList.totalInvested()}}</span></br>
		<span>Total EUR gained {{transactionsList.totalGained()}}</span></br>
		<span>Portfolio composition</span>
		<input class="btn-primary" type="submit" ng-click='transactionsList.getPrice("ETH")' value="Refresh prices">
		<ul class="unstyled">
			<li ng-repeat="crypto in transactionsList.calcUniqueCryptos()">
				<span>{{crypto}} : {{transactionsList.calcCryptoBalance(crypto)}}</span>
			</li>
		</ul>


		<form ng-submit="transactionsList.addTransaction()">
			<input type="text" ng-model="transactionsList.inputAmount"  size="5"
			placeholder="amount" required >
			<input type="text" ng-model="transactionsList.inputCurr"  size="5"
			placeholder="currency" required>
			<span>-></span>
			<input type="text" ng-model="transactionsList.outputAmount"  size="5"
			placeholder="amount" required>
			<input type="text" ng-model="transactionsList.outputCurr"  size="5"
			placeholder="currency" required>
			<input class="btn-primary" type="submit" value="Add transaction">
		</form>
		<span>Transaction history : {{transactionsList.transactions.length}} recorded transactions</span>
		<ul class="unstyled">
			<li ng-repeat="transaction in transactionsList.transactions">
				<span>{{transaction.inAm}} {{transaction.inCurr}} -> {{transaction.outAm}} {{transaction.outCurr}}</span>
			</li>
		</ul>
	</div>
</body>
</html>
